{
  CloudFlareEmail: "cloudflare@example.com",
  CloudFlareToken: "asdlkfjksldjflk",
  FirebaseURL: "https://example.firebaseio.com",
  FirebaseAuth: "ewirjoiwejrfoielksjdf",
  Domain: "example.com"
}
