.history {
  margin-top: 100px;
  p {
    margin-bottom: 40px;
  }
  p:first-of-type {
    span:nth-of-type(3) {
      color: $green;
      opacity: .5;
    }
  }
}

.fade-in {
  animation: 2s ease fade;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.history-date {
  margin-right: 40px;
}

.history-link {
  display: inline-block;
  width: 210px;
}

.history-status {
  opacity: .25;
}
